<section class="popularNews mb-3 mt-3 col-lg-3">
    <h2 class="mb-3">Популярное</h2>
    <div class="miniNews bg-light p-3 border-bottom">
        <div class="miniTitle">
            <h3>Заголовок</h3>
        </div>
        <div class="miniNewsDescription">
            <p>Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
        </div>
        <div class="miniInfo d-flex flex-row justify-content-between">
            <div class="dataInfo">
                <p>Сегодня, 14:06</p>
            </div>
            <div class="viewCount">
                <p>2037</p>
            </div>
            <div class="commentCount">
                <p>15</p>
            </div>
        </div>
    </div>
    <div class="miniNews bg-light p-3 border-bottom">
        <div class="miniTitle">
            <h3>Заголовок</h3>
        </div>
        <div class="miniNewsDescription">
            <p>Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
        </div>
        <div class="miniInfo d-flex flex-row justify-content-between">
            <div class="dataInfo">
                <p>Сегодня, 14:06</p>
            </div>
            <div class="viewCount">
                <p>2037</p>
            </div>
            <div class="commentCount">
                <p>15</p>
            </div>
        </div>
    </div>
</section>