{% extends 'base.twig' %}
{% block body %}
    <div class="container">
        <h1>Запрашиваемая страница не найдена</h1>
        <a href="/" class="link-danger">Вернитесь на главную</a>
    </div>
{% endblock %}