{% extends 'base.twig' %}

{% block body %}
<main class="mb-3 mt-3">
    <div class="main__title  text-center">
        <h1>Новости</h1>
    </div>
    <div class="posts">
        {% include 'sections/mainPostCard.twig' %}
        <div class="section-title">
            <h2>Последние новости</h2>
        </div>
        <div class="latest-posts justify-content-center gap-4 row">
            {% include 'sections/postCard.twig' %}
        </div>
    </div>
</main>
{% endblock %}